@use "../abstracts" as *;

.share {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__link {
    @include font-size(16px);
    padding: rem(8);
    color: $color-main-gray;
    transition: $transition__link;
    fill: $color-main-gray;

    &:hover {
      fill: $color-light-blue;
    }

    &:focus {
      fill: $color-light-blue;
      outline: 3px solid $color-focus-outline;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__link {
    @include font-size(16px);
    padding: rem(8);
    color: $color-main-gray;
    fill: $color-main-gray;
    transition: $transition__link;

    &:hover {
      fill: $color-light-blue;
    }

    &:focus {
      fill: $color-light-blue;
      outline: 3px solid $color-focus-outline;
    }
  }
}
