@use "sass:color";

@font-face {
  font-family: "Impact Label";
  src: url('../assets/static/Impact_Label.woff') format('woff'),
       url('../assets/static/Impact_Label.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Variables

/*Color palette: https://coolors.co/b68600-ffc72c-ebdbc1-eaeaea-901a1a-350000-590000*/
$color-dark-yellow: rgba(182, 134, 0, 1); //#B68600
$color-light-yellow: rgba(255,202,86,1);  //#FFCA56
$color-platinum: rgba(234, 234, 234, 1); //#EAEAEA
$color-placeholder: rgba(74, 70, 67, 1); //#4A4643

$color-text-gray-200: rgba(126, 134, 148, 1); //#7E8694
$color-charcoal: rgba(63, 79, 95, 1); //#3F4F5F  -- consider gray-300
$color-button-background: rgba(191,191,191, 1); //#BFBFBF

/*ACKTI STYLE GUIDE COLORS*/
$color-main-gray: rgba(236,236,236,1); //#ECECEC
$color-darkest-red: rgba(152,30,19, 1); //#981E13
$color-dark-red: rgba(167,33,21); // #A72115
$color-medium-red: rgba(198,55,42,1); //#C6372A
$color-light-red: rgba(229, 77, 63, 1); //#E54D3F

$color-text-main: rgba(69,69,69,1); //#454545
$color-darkest-blue: rgba(50,81,109, 1);  //#32516d
$color-dark-blue: rgba(61,99,133,1); //#3D6385
$color-medium-blue: rgba(78, 148, 186, 1); //#4E94BA
$color-light-blue: rgba(105,201,239,1); //#69C9EF
$color-lightest-blue: rgba(216,241,251, 1); //#D8F1FB

/*----------  Colors we're using from template ----------*/
$color-focus-outline: rgba(151, 200, 247, 0.68);
$color-text-white: rgba(250, 250, 250, 1);
$color-text-gray-100: rgba(188, 194, 206, 1);
$color-text-gray-200: rgba(126, 134, 148, 1);
$color-text-gray-300: rgba(70, 79, 96, 1);
$color-text-gray-400: rgba(43, 47, 56, 1);
$color-text-gray-500: rgba(23, 28, 38, 1);
$color-background-white: rgba(255, 255, 255, 1);
$color-background-gray-100: rgba(248, 248, 248, 1);
$color-background-gray-200: rgba(240, 240, 240, 1);
$color-background-light-blue-100: rgba(239, 245, 248, 1);



/*----------  Fonts  ----------*/
$font__rokkitt: 'Rokkitt', serif;
$font__special-elite: 'Special Elite', cursive;
$font__righteous: righteous, cursive;
$font__impact-label: 'Impact Label', sans-serif;

$font-family-default: $font__rokkitt;
$font-family-heading: $font__special-elite;
$font-size-default: 16px;
$font-weight-default: 400;
$font-weight-bold: 800;
$font-line-height-default: 1.15;

/*----------  Structure  ----------*/
$breakpoints: (
  "medium": 50em,
  "large": 90em,
  // 'large': 90em,
);

// Used to calculate font size in font-clamp mixin.
// TODO: check these values with Lindsay. where exactly they came from?
$container-min-width: 30rem;
$container-max-width: 87.5rem;
$container-width-diff: 57.5rem; // Difference in rems between small & large breakpoints

$size__container-max-width: 1400px;
$size__content-max-width: 680px;
$size__intro-content-wide-max-width: 1100px;
$size__page-max-width: 1200px;

/*----------  Transitions  ----------*/
$transition__link: all 0.2s ease-in-out;
